/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body
{
    background-color:black;
    color: blanchedalmond;
}
.c-table
{
    
    float:left;
    margin: 0 0 40px;
    border: 1px solid white;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}
th
{
    float:center;
    padding: 15px;
}
td
{
    border: 1px solid white;
}
p{
    font-size: 30px;
}
h1
{
    text-align:center;
}
h4{
    color:green;
}